<!DOCTYPE html>
<html>
<head>
    <script>
        function btn(){ 
            if(document.getElementById("time1").value
                &&document.getElementById("time2").value
                &&document.getElementById("time3").value)
            {
                window.alert('복약 시간이 입력 완료되었습니다.'); 
            }
            else {
                
                window.alert('복약 시간을 모두 입력해주세요.'); 
                e.preventDefault()
            }
        }
    </script>
</head>
<body>
    <h2>복약시간을 입력하세요</h2>
    <h3>시간 형식은 HH:MM을 맞춰서 기입해주세요.</br>
        (시간은 24시 체계를 사용합니다) 예)13:10</h3>
    <form method="GET" action="/write">
        <div>
            <h3>
                복약시간1 : <input id="time1" name="med_time1" type="text"/><br/>
                복약시간2 : <input id="time2" name="med_time2" type="text"/><br/>
                복약시간3 : <input id="time3" name="med_time3" type="text"/><br/>
            </h3>
        </div>
        <div class='button'>
            <button type="submit" onclick="javascript:btn();">확인</button>
        </div>
    </form>
</body>
</html>